<div class="row">
  <br>
  <div class="col-md-2 col-sm-3 text-center">
    <%= image_tag("bvsjlogo.jpg", height: "50%", width: "50%") %>

  </div>
  <div class="col-md-10 col-sm-9">
    <h3><%= @workshop.name%></h3>
    <div class="row">
      <div class="col-xs-9">
        <h4><%= @workshop.description %></h4>
      </div>
      <div class="col-xs-3">
      </div>
    </div>
    <br><br>
  </div>
</div>
<hr>
<h3>Classes</h3>
<% @workshop.workshop_dates.each do |workshop_date| %>
  <div class="row">
    <br>
    <div class="col-md-2 col-sm-3 text-center">
      <%= image_tag("bvsjlogo.jpg", height: "50%", width: "50%") %>

    </div>
    <div class="col-md-10 col-sm-9">
      <h3><%= workshop_date.name%></h3>
      <div class="row">
        <div class="col-xs-9">
          <h4><%= workshop_date.description %></h4>
          <h4><span class="label label-default">Status: <%= workshop_date.status %></span></h4>
          <h4><span class="label label-default">From: <%= workshop_date.start_time %></span></h4>
          <h4><span class="label label-default">To: <%= workshop_date.end_time %></span></h4>
        </div>
        <div class="col-xs-3">
        </div>
      </div>
      <br><br>
    </div>
  </div>
  <hr>
<% end %>
