<h2>Calendar - January</h2>

<div id="articles">
  <%= calendar do |date| %>
    <%= date.day %>
    <% if @workshops_by_date[date] %>
      <ul>
        <% @workshops_by_date[date].each do |workshop_date| %>
          <li><a href="/workshops/<%= workshop_date.workshop.id %>"><%=  workshop_date.workshop.name %></a></li>
          <p><%= workshop_date.name %></p>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
