<h1>Map</h1>
<div id="map"></div>

<script>
var map = L.map('map').setView([<%= @locations.first.latitude %>, <%= @locations.first.longitude %>], 10);
var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib='Map data © OpenStreetMap contributors';
var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});

// start the map in South-East England
map.addLayer(osm);
<% @locations.each do |location| %>

L.marker([<%= location.latitude%>, <%=location.longitude%>]).addTo(map)
    .bindPopup('<h2><a href="/locations/<%= location.id %>"><%=location.name%></h2>');
<%end%>
</script>
