<fieldset>
<legend><a href="/workshops/<%= workshop_date.workshop.id %>"><%= workshop_date.workshop.name %> - click to view</a></legend>
  <p><%= workshop_date.name %><p>
  <p><%= workshop_date.description %><p>
  <p><%= workshop_date.start_time %><p>
  <p><%= workshop_date.end_time %><p>
</fieldset>

