<%= simple_form_for [@workshop_date] do |f| %>
  <%= f.error :base %>
      <%= f.input :workshop_id, as: :select, collection: @workshops %>
      <%= f.input :name, :input_html => {:size => 40} %>
      <%= f.input :description, :input_html => { 'rows' => 5, 'cols' => 40 } %>
      <%= f.input :start_time %>
      <%= f.input :end_time %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>

      <div class="button-row-bottom">
          <%= f.button :submit, :class => 'btn btn-primary' %>
          <%= link_to "Cancel",  "/admin/workshops", :class => 'btn btn-default' %>
      </div>
<% end %>
