<%= simple_form_for [:admin, @user] do |f| %>
  <%= f.error :base %>
      <%= f.input :role, as: :select, collection: ["user", "admin"] %>
      <%= f.input :region_id, as: :select, collection: @regions %>
      <%= f.input :email, :input_html => {:size => 40} %>
      <%= f.input :password, :input_html => {:size => 40,} %>
      <%= f.input :password_confirmation, :input_html => {:size => 40} %>
      <div class="button-row-bottom">
          <%= f.button :submit, :class => 'btn btn-primary' %>
          <%= link_to "Cancel",  "/admin/users", :class => 'btn btn-default' %>
      </div>
<% end %>
