<!DOCTYPE html>
<html>
<head>
  <title>Hero4</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet">


  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

         <!-- CSS code from Bootply.com editor -->

  <style type="text/css">
                /* override bootstrap styles */
    @import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

    .navbar-form input, .form-inline input {
      width:auto;
    }

    body {
      padding-top:50px;
      color:#646464;
      background-color:#efefef;
    }

    h1,h2,h3,.highlight,.navbar a,#masthead h4 {
      font-family:'Oswald',arial narrow,sans-serif;
    }

    footer {

      margin-top:40px;
      padding-top:40px;
      padding-bottom:40px;
      background-color:#cecece;

    }


    #masthead {
      min-height:199px;
      background-color:#000044;
      color:#aaaacc;
    }

    #masthead h1 {
      font-size: 55px;
      line-height: 1;
      color:#fefeff;
      margin-top:50px;
    }

    #masthead .well {
      margin-top:31px;
      background-color:#111166;
      border-color:#000022;
      color:#efefff;
      min-height:127px;
    }

    #topPanel {
      padding-top:0px;
      padding-left:22px;
      padding-right:22px;
    }
    #topPanel .panel-body {
      padding-top:0px;
    }

    .navbar.affix {
      position:fixed;
      top:0;
      width:100%;
    }

    .top-spacer {
      background-color:#ffffff;
      height:40px;
    }

    a,a:hover {
      color:#223344;
      text-decoration:none;
    }

    .icon-bar {
      background-color:#fff;
    }

    @media screen and (min-width: 768px) {
      #masthead h1 {
        font-size: 80px;
      }
    }

    .navbar-bright {
      background-color:#111166;
      color:#fff;
      margin-bottom: 0;
      border-width: 0;
    }

    .navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
      color:#ccccdd;
      font-size:14px;
      text-transform: uppercase;
      letter-spacing:.08em;
    }

    .navbar-bright li > a:hover {
      background-color:#000044;
    }

    .dropdown-menu {
      min-width: 250px;
    }

    .caret {
      color:#fff;
    }

    .navbar-toggle {
      color:#fff;
      border-width:0;
    }

    .navbar-toggle:hover {
      background-color:#fff;
    }

    .panel {
      border-color:transparent;
      border-radius:0;
    }

    .thumbnail {
      margin-bottom:8px;
    }

    .img-container {
      overflow:hidden;
      height:170px;
    }

    .img-container img {
      min-width:280px;
      min-height:180px;
      max-width:380px;
      max-height:280px;
    }

    .txt-container {
      overflow:hidden;
      height:100px;
    }

    .panel .lead {
      overflow:hidden;
      height:90px;
    }

    .label-float{
      margin:0 auto;
      position: absolute;
      top: 0;
      z-index: 1;
      width:100%;
      opacity:.9;
      padding:6px;
      color:#fff;
    }

    .btn-twitter {background-color:#4099FF;color:#fff;}
    .btn-facebook {background-color:#3B5998;color:#fff;}
    .btn-google-plus {background-color:#d34836;color:#fff;}

    .btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
    .btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
    .btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

    #articles .calendar {
      border-collapse: collapse;
      width: 100%;
    }
    #articles .calendar td, #articles .calendar th {
      font-family: "Lucida Grande", arial, helvetica, sans-serif;
      font-size: 10px;
      padding: 6px;
      border: 1px solid #999;
    }
    #articles .calendar th {
      background: #DDD;
      color: #666;
      text-align: center;
      width: 14.2857142857143%;
    }
    #articles .calendar td {
      background: #FFF;
      color: #777;
      height: 80px;
      vertical-align: top;
      font-size: 16px;
    }
    #articles .calendar .notmonth, #articles .calendar .notmonth a {
      color: #CCC;
    }
    #articles .calendar .today {
      background-color: #D7F2FF;
    }

    #articles #month {
      margin: 0;
    }

    #map {
      height: 500px;
      width: 100%;
    }
    img.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .fullWidth {
      width: 100%;
    }

    .center-alert {
      margin-left: 40%;
      margin-right: 40%;
      width: 20%;
    }
  </style>

</head>
  <body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Home</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to('Workshops', workshops_path) %>
            </li>
            <li>
              <%= link_to('Locations', locations_path) %>
            </li>
            <li>
              <%= link_to('Calender', calendar_path) %>
            </li>
            <li>
              <%= link_to('Map', map_path) %>
            </li>
            <li>
              <%= link_to('About', about_path) %>
            </li>
            <li>
              <a href="/become_a_hero">Become a Hero</a>
            </li>
            <% if current_user and current_user.role == "admin" %>
              <li>
                <%= link_to('Admin', admin_root_path) %>
              </li>
            <% end %>
            <% if current_user %>
              <li>
                <a href="/profile/<%= current_user.id %>">Profile</a>
              </li>
              <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              </li>
            <% else %>
              <li>
                <%= link_to('Login', new_user_session_path) %>
              </li>
            <% end %>

          </ul>
<!--          <ul class="nav navbar-right navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
              <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
                  <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                </form>
              </ul>
            </li>
          </ul>-->
        </nav>
      </div>
    </header>

    <div id="masthead">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>The Hero Initiative
              <p class="lead"></p>
            </h1>
          </div>
          <div class="col-md-5">
            <div class="well well-lg">
              <div class="row">
                <div class="col-sm-12">
                 <!-- <ul>
                    <h2>Sign up above to become a HERO today</h2>
                    <li>Activities for social inclusion</li>
                    <li>Intergenerational communications </li>
                    <li> Communication between all socioeconomic groups ethnicities and genders </li>
                    <li> Increase knowledge base for participants </li>
                    <li> Increase cultural sensitivity (make it a habit to be caring) </li>
                    <li> Doing something tangible </li>
                    <li> Provide choices (options for people to choose career or entrepreneurial) </li>
                    <li> Increase civic engagement</p>
                  <ul>-->
                  <p>“We live in a world in which we need to share responsibility. It's easy to say "It's not my child, not my community, not my world, not my problem." Then there are those who see the need and respond. I consider those people my heroes.” – Mr. Fred Rogers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /cont -->

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="top-spacer"> </div>
          </div>
        </div>
      </div><!-- /cont -->

    </div>


    <div class="container">
      <div class="row">

        <div class="col-md-12">

          <div class="panel">
            <div class="panel-body">

              <% if flash[:alert] %>
                <div class=" btn btn-danger center-alert">
                  <%= flash[:alert] %>
                </div>
              <% end %>

              <% if flash[:notice] %>
                <div class=" btn btn-success center-alert">
                  <%= flash[:notice] %>
                </div>
              <% end %>

              <%= yield %>

            </div>
          </div>



            </div><!--/col-12-->
      </div>
    </div>


    <hr>

    <div class="container" id="footer">
      <div class="row">
        <div class="col col-sm-12">

          <h1>Follow Us</h1>
          <div class="btn-group">
          <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
              <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
              <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
          </div>

        </div>
      </div>
    </div>

    <hr>

    <hr>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <ul class="list-inline">
              <li><i class="icon-facebook icon-2x"></i></li>
              <li><i class="icon-twitter icon-2x"></i></li>
              <li><i class="icon-google-plus icon-2x"></i></li>
              <li><i class="icon-pinterest icon-2x"></i></li>
            </ul>
          </div>
          <div class="col-sm-4">
              <p class="pull-right">Brought to you by <a href="http://www.bvsj.com">Black Veterans for Social Justice</a></p>
          </div>
          <div class="col-sm-4">
              <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
